.reveal h1 {
  text-transform: capitalize;
  line-height: 1;
}

.reveal span.small-title {
  display: block;
  padding-bottom: 1em;
  font-size: 60% !important;
  text-transform: lowercase;
}

.reveal table th,
.reveal table td {
  text-align: center;
  width: 50%;
}

.reveal table th {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid;
}

.reveal table td {
  border-color: #2b2b2b;
}
